{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if error != None %} 
        <h3>{{ error }}</h3>
    {% endif %}
    {% for item in all_item %}
    
    <div>
        <a href="{% url 'show_listing' item.item %}">
            <image src="{{item.image}}" width="300"></image>
        </a>
        <div>{{ item.item }}</div>
        <div>Cureent Price: {{ item.price }}</div>
        <div>Created {{ item.create_date }}</div>
        <div>Description: {{ item.desc }}</div>
    </div>
    
    {% endfor %}
    
    
{% endblock %}