{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings</h2>

    {% for item in all_items %}
        <div>
            <image src="{{item.image}}" width="300"></image>
            <div>{{ item.item }}</div>
            <div>Price: {{ item.price }}</div>
            <div>Created {{ item.create_date }}</div>
            {% if user.is_authenticated %}
                {% if item in watch_list_items %}
                    <div>&#128064; Watching</div>
                {% else %}
                    <form action="{% url 'add_watch_list' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_name" value={{item.item}}>
                        <input type="submit" value="&#10133; Add to watch list">
                        <!-- <button>&#10133; Add to watch list</button> -->
                    </form>
            {% endif %}
        {% endif %}
        </div>
        
    {% endfor %}
{% endblock %}