{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watch List</h2>
    {% if watch_list_items.count == 0 %} 
        <div>No items in watch list</div>
    {% else %}
        {% for item in all_items %}
            {% if item in watch_list_items %}
                <div>
                    <a href="{% url 'show_listing' item.item %}">
                        <image src="{{item.image}}" width="300"></image>
                    </a>
                    <div>{{ item.item }}</div>
                    <div>Price: {{ item.price }}</div>
                    <div>Created {{ item.create_date }}</div>
                    <div>Description: {{ item.desc }}</div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}